@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Special+Elite&display=swap');

body{
  background-image: url(https://i.pinimg.com/originals/16/3d/50/163d506c0e4d603c598d92d7ac425896.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

#quote-box{
text-align: right;
margin: 100px;
margin-top: 200px;
}


#text{
  font-weight: bolder;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Special Elite', cursive;
}

#author{
  color: pink;
  font-family: 'Kolker Brush', cursive;
  font-size: 45px;
  font-weight: lighter;
}

button{
  padding: 10px 15px;
  text-decoration: none;
  border:2px solid white;
  background-color: blue;
  color: white;
  border-radius: 100px;
}